extends ../layout

block content
    link(rel='stylesheet', href='/css/anisub.css')
    link(rel='stylesheet', href='/css/notice.css')
    section.hwamyeon
        article.all-announce
            
            h1.title 공지사항
            article.announce
            h2
                span.number 1
                | . 업체홍보 또는 카페홍보를 허용하지 않습니다
                | 
            article.announce
            h2
                span.number 2
                | . 같은 내용의 글을 지속적으로 도배시 제명당하실 수 있습니다
                |               
            article.announce
            h2
                span.number 3
                | . 타인 및 남을 비방하는 행위는 금지합니다
                |               
            article.announce
            h2
                span.number 4
                | . 혐오 및 분란조장을 유도하는 사진이나 글의 등록을 금지합니다
                |   
            article.announce
            h2
                span.number 5
                | . 홍보성 및 사행성 글을 등록 금지합니다
                |               
            article.announce
            h2
                span.number 6
                | . 게시판 이름과 성격에 맞지 않는 글의 등록을 금지합니다
                |               
