* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    height: 100vh;
  }
  body {
    height: 100%;
  }
  article {
    border: 1px solid;
  }
  textarea {
    display: block;
    width: 80%;
    height: 80%;
    margin: 30px;
  }
  
  ul.MENU {
    padding: 10px;
    background-color: #00dad6;
    display: flex;
    justify-content: end;
    align-items: center;
  
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  li {
    list-style: none;
    margin: 0 10px;
    font-weight: bold;
  }
  a {
    text-decoration: none;
    color: black;
  }

      h2.free{
  
      justify-content: center;
        text-align: center;
     margin: auto;
    }
  section {
width: 100%;
  }
  main {
    text-align: center;
    justify-content: center;
  }
  
  .write {
    width: 1000px;
    margin: 0 auto;
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
    text-align: center;
    justify-content: center;
  }
  
  .write input {
    width: 800px;
    padding: 10px;
    margin: 15px;
  }
  .write .text {
    margin: 15px auto;
    height: 500px;
    white-space: pre-line;
    word-break: break-all;
  }
  .write .button {
    padding: 0 200px;
    margin: 15px auto;
  }
  .write .btn {
    border: 1px solid #00dad6;
    background-color: #00dad6;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    color: black;
    border-radius: 20%;
  }
  .write .btn:hover {
    color: #ffdf6a;
  }
  .write p {
    text-align: center;
  }
  ul.MENU li {
    margin: 0 10px;
    font-weight: bold;
    transition: 0.7s;
  }
  ul.MENU li a {
    list-style: none;
    color: black;
    transition: 0.7s;
    text-decoration: none;
  }
  a.menu1 li {
    text-decoration: none;
  }
  ul.MENU li a:hover {
    cursor: pointer;
    /* background-color: rgb(255, 205, 113); */
    color: white;
  }
  ul.MENU li {
    list-style: none;
    color: black;
    transition: 0.7s;
    text-decoration: none;
  }
  ul.MENU li:hover {
    cursor: pointer;
    /* background-color: rgb(255, 205, 113); */
    color: white;
  }

  textarea{
    resize:  none;
  }

div.free{
    width: 80%;
    display: flex;
    margin: 15px auto;
    height: 50px;
}

  div.user{
    flex: 1;
   display: flex;



    input{
        margin-left: 0;
        flex: 1;
        display: inline-block;
        width: 90%;
    }
  }
  
  
  div.freebutton{
    flex: 1;

    display: flex;
    -ms-flex-item-align: end;

    input{
        width: 50%;
        flex: 1;
        display: inline-block;
        border-radius: 20px;
        margin-right: 0;
    }

    button{
        width: 50%;
        flex: 1;
        display: inline-block;
        border-radius: 20px;
        margin-right: 0;
    }
  }
  