extends ../../layout

block content
    link(rel='stylesheet', href='/css/anisub.css')
    link(rel='stylesheet', href='/css/section.css')
    div
        strong
            p.name 뱀

        img(src="/images/snake.jpg", alt="뱀")
        ul.menu
            li
                a(href="#p1") 사육조건
            li
                a(href="#p2") 음식
            li
                a(href="#p3") 습성
            li
                a(href="#p4") 주의사항
        span
            article.box1
                p#p1 
                header.header
                    strong 사육조건 
                | 뱀 크기에 맞는 잠금이 가능한 사육장, 바닥재, 물그릇, 은신처, 열원.
                br
                | 사육장에 보이는 배설물들은 그때마다 바로 치워주는 것이 좋으며 청소는 일주일에 한 번, 
                | 적어도 한달에 한 번은 대청소를 해주어야 한다.<
                br 
            article.box2
                p#p2
                header.header
                    strong 음식
                | 내용 1줄
                br
                | 내용 2줄
                br 
            article.box3
                p#p3 
                header.header
                    strong 습성
                |   뱀은 감각기관이 발달한 동물은 아니기 때문에 혀를 이용하여 상황을 식별한다.
                br
                |  종에 따라 야행성, 주행성으로 나뉜다.
                |  주기적으로 탈피를 한다.
                br 
            article.box4
                p#p4
                header.header 
                    strong 주의사항 
                | 내용 1줄
                br
                | 내용 2줄
                br 