h2.recom {
  text-align: center;
  margin-top: 15px;
}
article.group {
  border: 5px solid #00dad6;
  background-color: #c5fffa;
  border-radius: 10px;
  height: 30px;

  text-align: center;
  font-weight: bold;
}
article p {
  text-align: center;
  font-weight: bold;
}

article.app {
  border: 5px solid #ffdf6a;
  border-radius: 10px;
  text-align: center;
}
.app {
  display: none;
}

.group:hover + .app {
  display: block;
}
