div.survey {
    margin: auto;
    padding: 10px;
  }
  form p {
    border: 3px solid#ffdf6a;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff3af;
  }
  h1.surveyh1 {
    border: 3px solid #ffdf6a;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 30px;
  }
  h1.surveyh1,
  h5 {
    text-align: center;
  }
  div #result {
    margin-top: 10px;
    border: 3px solid #ffdf6a;
    background-color: #fff3af;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
  }