extend ../../layout 

block content
    link(rel="stylesheet", href="/css/free2.css")
    script(src="/js/insert.js") 
    script(src="/js/freeboard.js") 
    h2.free 자유게시판 글 쓰기
      main
        form.write(method="POST", enctype="multipart/form-data")
          input(type='text' name="title" placeholder='제목을 입력해주세요.' required='')
          hr
          textarea.text(name="content" placeholder='내용을 입력해주세요.')
          div.free
            if user
              div.user
                input(type="file" accept="image/*" name="image")
            else 
              div.user
                  input.author(type="text" name="author" placeholder='ID' )
                  input.password(type="password" name='password' placeholder='PASSWORD')
                  input(type="file" accept="image/*" name="image")
            div.freebutton
                input.btn.btn_post(type="submit", value= "게시")
                input.btn(type="reset", value= "새로 작성")
                input.btn.btn_list(type="button", value="돌아가기")
