extends ../layout

block content 
    link(rel="stylesheet", href="/css/find.css")
    script(src="/js/find.js")
    form.pw(method="POST")
        fieldset 
            legend 비밀번호찾기
            div 
                label(for="") 사용자 ID
                input(type="text", name="userid", id="userid") 
            div 
                label(for="") 전화번호 
                input(type="text", name="usertel", id="usertel")
            div 
                label(for="") 이메일
                input(type="text", name="useremail", id="useremail") 
            div
                label(for="") 
                input.btn(type="button",value="다음") 