extends ../../layout

block content
    link(rel='stylesheet', href='/css/anisub.css')
    link(rel='stylesheet', href='/css/section.css')
    div
        strong
            p.name 십자매

        img(src="/images/animal/십자매.webp", alt="")
        ul.menu
            li
                a(href="#p1") 사육조건
            li
                a(href="#p2") 음식
            li
                a(href="#p3") 습성
            li
                a(href="#p4") 주의사항
        span
            article.box1
                p#p1 
                header.header
                    strong 사육조건 
                | 좁은 새장도 상관없으나 기본적으로 잘 날아다니므로 
                br
                | 새장은 넓을수록 좋다
                br 
            article.box2
                p#p2
                header.header
                    strong 음식
                | 벌래+알곡모이가 가장 좋으나 형편상 곤란할 경우
                br
                | 곡류에 계란껍데기,야채라도 챙겨줘야 한다
                br 
            article.box3
                p#p3 
                header.header
                    strong 습성
                | 성질이 온순하고 새장에 여러마리를 넣어도 자매처럼 친하게 지낸다
                br
                | 
                br 
            article.box4
                p#p4
                header.header 
                    strong 주의사항 
                | 소음이나 입질, 털문제도 적은 편
                br
                | 
                br 