extends ../../layout

block content
    link(rel='stylesheet', href='/css/anisub.css')
    link(rel='stylesheet', href='/css/section.css')
    div
        strong
            p.name 금붕어

        img(src="/images/gold.jpg", alt="금붕어")
        ul.menu
            li
                a(href="#p1") 사육조건
            li
                a(href="#p2") 음식
            li
                a(href="#p3") 습성
            li
                a(href="#p4") 주의사항
        span
            article.box1
                p#p1 
                header.header
                    strong 사육조건 
                | 마리당 최소 30L의 물량은 있어야 금붕어가 살기 좋다고 알려져 있습니다.
                br
                | 최적 수온은 24~27도이며 적정 pH는 7점대입니다.
                br 
                | 금붕어들은 품종마다 성체의 크기 차이가 크므로 한마리당 이정도의 물량이 필요하다고 말씀드릴수는 없지만
                br
                | 보통은 마리당 최소 30L의 물량은 있어야 금붕어가 살기 좋다고 알려져 있습니다.
            article.box2
                p#p2
                header.header
                    strong 음식
                | 금붕어 먹이량은 3분~5분 정도에서 다 먹을 수 있는 양을 급여하면 됩니다.
                br
                | 사료,냉동 장구벌레,물벼룩,냉동 브라인쉬림프 등을 다 잘먹습니다.
                br 
                | 너무 고단백인 먹이를 많이 급여하게 되면 부레병에 걸릴 수 있어 식물성 먹이도 같이 골고루 급여하는것이 좋습니다.
            article.box3
                p#p3 
                header.header
                    strong 습성
                | 무리를 지어 생활하는 습성이 있어 다른 어종과 섞여서 키우는데는 무리가 있습니다.
                br
                | 바닥재를 씹는 행위도 먹이활동을 위한 습성이다.
                br 
            article.box4
                p#p4
                header.header 
                    strong 주의사항 
                | 잡식성이라서 입안에 들어가는건 뭐든지 입에 넣어보는 성격을 가지고 있습니다.
                br
                | 그래서 소형 열대어나 관상용 새우와는 함께 사육할수 없습니다.
                br 
                | 필요이상으로 어항 안에 손을 넣는다거나 직접 금붕어를 건들며 어항을 툭툭 친다는 등의 이런 행동을 하게 되면 스트레스를 받을 수가 있답니다
                br
                |금붕어들은 수영하면서 몸을 여기저기 비비기도 하는데 만약 날카로운 유목이나 동글동글한 바닥재가 아닌 뾰족한 바닥재가 있으면 금붕어들에게 상처를 입힐수도 있으니 날카로운것들은 피해야 합니다.