extends ../../layout

block content
    link(rel='stylesheet', href='/css/anisub.css')
    link(rel='stylesheet', href='/css/section.css')
    div
        strong
            p.name 구피

        img(src="/images/9p.jpg", alt="구피")
        ul.menu
            li
                a(href="#p1") 사육조건
            li
                a(href="#p2") 음식
            li
                a(href="#p3") 습성
            li
                a(href="#p4") 주의사항
        span
            article.box1
                p#p1 
                header.header
                    strong 사육조건 
                | 수온은 26℃ 전후가 적온이며 경도는 15~30dH 점대입니다.
                br
                | 전문가들은 야생에서와 달리 집에서 사육 시 약간의 염분이 첨가되면 사육하는 것이 더 좋다고 합니다.
                br 
                | 히터는 무조건 필요하며, 여름에는 간혹 좁은 어항의 경우 온도가 높아지는 경우가 있을 수 있기때문에
                br
                | 냉각기등의 온도조절장치를 이용해서 수온을 조절하는 것이 필요합니다.
            article.box2
                p#p2
                header.header
                    strong 음식
                | 구피는 잡식성으로 대부분 잘 먹는 다고 하는데요.
                br
                | 구피 전용 사료를 기본으로 주식으로 하고 가끔씩 브라인쉬림프를 부화시켜 먹이는 경우도 많다고 합니다.
                br 
                | 요즘은 생먹이도 건조되어서 제조되어 편하게 급여할 수 있다고 합니다.
                br
                | 구피밥을 줄때 먹이양은 하루에 1~2회를 주되 한번 급여시 2분에서3분이내에 먹을 수 있는 만큼의 먹이 양을 줍니다.
            article.box3
                p#p3 
                header.header
                    strong 습성
                | 많은 열대어와 달리 구피는 '난태생'이라는 방법으로 번식을 하는 습성이 있습니다.
                br
                | 구피는 본능적으로 눈앞에 움직이는 것들을 먹는 습성을 가지고있어서 꼭 새끼를 낳기전에 다른 구피들과 분리해주어야합니다.
                br 
            article.box4
                p#p4
                header.header 
                    strong 주의사항 
                | 번식을 계속 하는 경우 외부에서 새로운 개체를 도입하는 것이 좋습니다.
                br
                | 너무 잦은 물갈이는 피하는게 좋습니다(2주~한달간격으로 갈아주면된다).
                br 
                | 구피는 세대 교체가 빠른 어종으로,동일한 어항에서 계속 번식을 하게 되면 유전자풀이 좁아져서 기형이나 병약한 개체가 발생하기 쉽습니다.