extend layout

block content    
    link(rel="stylesheet", href="/css/section.css")
    script(src="../js/menu/js") 
    div
      strong
        p.name &#xBC40;
      img(src="", alt="", srcset="")
      ul.menu
        li
          a(href='#p1') &#xC2B5;&#xC131;
        li
          a(href='#p2') &#xC0AC;&#xC721;&#xC870;&#xAC74;(&#xC900;&#xBE44;&#xBB3C;)
        li
          a(href='#p3')  &#xC218;&#xBA85;
        li
          a(href='#p4') &#xC74C;&#xC2DD;
        li
          a(href='#p5') &#xC8FC;&#xC758;&#xC0AC;&#xD56D;
      span
        article.box1
          p#p1
          header.header
            strong &#xC2B5;&#xC131;
          p
          p - &#xBC40;&#xC740; &#xAC10;&#xAC01;&#xAE30;&#xAD00;&#xC774; &#xBC1C;&#xB2EC;&#xD55C; &#xB3D9;&#xBB3C;&#xC740; &#xC544;&#xB2C8;&#xAE30; &#xB54C;&#xBB38;&#xC5D0; &#xD600;&#xB97C; &#xC774;&#xC6A9;&#xD558;&#xC5EC; &#xC0C1;&#xD669;&#xC744; &#xC2DD;&#xBCC4;&#xD55C;&#xB2E4;.
          p - &#xC885;&#xC5D0; &#xB530;&#xB77C; &#xC57C;&#xD589;&#xC131;, &#xC8FC;&#xD589;&#xC131;&#xC73C;&#xB85C; &#xB098;&#xB25C;&#xB2E4;.
          p - &#xC8FC;&#xAE30;&#xC801;&#xC73C;&#xB85C; &#xD0C8;&#xD53C;&#xB97C; &#xD55C;&#xB2E4;.
        article.box2
          p#p2
          header.header
            strong &#xC0AC;&#xC721;&#xC870;&#xAC74;(&#xC900;&#xBE44;&#xBB3C;)
          p - &#xBC40; &#xD06C;&#xAE30;&#xC5D0; &#xB9DE;&#xB294; &#xC7A0;&#xAE08;&#xC774; &#xAC00;&#xB2A5;&#xD55C; &#xC0AC;&#xC721;&#xC7A5;, &#xBC14;&#xB2E5;&#xC7AC;, &#xBB3C;&#xADF8;&#xB987;, &#xC740;&#xC2E0;&#xCC98;, &#xC5F4;&#xC6D0;.
          p
            | - &#xC0AC;&#xC721;&#xC7A5;&#xC5D0; &#xBCF4;&#xC774;&#xB294; &#xBC30;&#xC124;&#xBB3C;&#xB4E4;&#xC740; &#xADF8;&#xB54C;&#xB9C8;&#xB2E4; &#xBC14;&#xB85C; &#xCE58;&#xC6CC;&#xC8FC;&#xB294; &#xAC83;&#xC774; &#xC88B;&#xC73C;&#xBA70; &#xCCAD;&#xC18C;&#xB294; &#xC77C;&#xC8FC;&#xC77C;&#xC5D0; &#xD55C; &#xBC88;, &#xC801;&#xC5B4;&#xB3C4; &#xD55C;&#xB2EC;&#xC5D0; &#xD55C; &#xBC88;&#xC740; &#xB300;&#xCCAD;&#xC18C;&#xB97C; &#xD574;&#xC8FC;&#xC5B4;&#xC57C; &#xD55C;&#xB2E4;.
        article.box3
          p#p3
          header.header
            strong &#xC218;&#xBA85;
          p
            | - &#xD3C9;&#xADE0; 10~20&#xB144; &#xC815;&#xB3C4;&#xB97C; &#xC0B0;&#xB2E4;.
        article.box4
          p#p4
          header.header
            strong &#xC74C;&#xC2DD;
          p - &#xBA38;&#xB9AC; &#xB113;&#xC774;&#xC5D0; &#xB9DE;&#xB294; &#xB9C8;&#xC6B0;&#xC2A4;, &#xB7AB;&#xC774;&#xB098; &#xBCD1;&#xC544;&#xB9AC;, &#xBA54;&#xCD94;&#xB77C;&#xAE30;&#xAC00; &#xC8FC;&#xC2DD;.
          p
            | - &#xD55C; &#xBC88; &#xBA39;&#xC774;&#xB97C; &#xC8FC;&#xBA74; &#xB2F9;&#xBD84;&#xAC04;&#xC740; &#xC18C;&#xD654;&#xC2DC;&#xD0AC; &#xAE30;&#xAC04;&#xC774; &#xD544;&#xC694;&#xD558;&#xB2E4;. &#xBA39;&#xC774;&#xB97C; &#xC8FC;&#xB294; &#xC801;&#xB2F9;&#xD55C; &#xAE30;&#xAC04;&#xC740; 1~2&#xC8FC;.
        article.box5
          p#p5
          header.header
            strong &#xC8FC;&#xC758; &#xC0AC;&#xD56D;
          p - &#xC0B4;&#xC544;&#xC788;&#xB294; &#xC950;&#xAC19;&#xC740; &#xAC83;&#xC744; &#xBA39;&#xC774;&#xB97C; &#xC8FC;&#xB294; &#xACBD;&#xC6B0;&#xAC00; &#xC788;&#xC73C;&#xB098; &#xC774; &#xB54C;&#xB294; &#xBC40;&#xC774; &#xC950;&#xC5D0;&#xAC8C; &#xBB3C;&#xB824; &#xC8FD;&#xC744; &#xC218;&#xB3C4; &#xC788;&#xC73C;&#xB2C8; &#xC8FC;&#xC758;&#xAC00; &#xD544;&#xC694;&#xD568;.
          p - &#xD569;&#xC0AC;&#xB294; &#xAD8C;&#xC7A5;&#xD558;&#xC9C0; &#xC54A;&#xB294;&#xB2E4;. 1 &#xB9C8;&#xB9AC;&#xB2F9; &#xC0AC;&#xC721;&#xC7A5; 1&#xAC1C;&#xC529;&#xC774; &#xD544;&#xC694;&#xD568;.
          p - &#xD0C8;&#xD53C;&#xB97C; &#xD560; &#xB54C;&#xB294; &#xC608;&#xBBFC;&#xD574;&#xC9C4;&#xB2E4;. &#xC774; &#xC2DC;&#xAE30;&#xC5D4; &#xCD5C;&#xB300;&#xD55C; &#xC811;&#xCD09;&#xC744; &#xD53C;&#xD558;&#xBA70; &#xD0C8;&#xD53C; &#xACFC;&#xC815; &#xC911; &#xBB38;&#xC81C;&#xAC00; &#xC788;&#xC744; &#xC2DC;&#xC5D0;&#xB9CC; &#xAC1C;&#xC785;&#xD558;&#xB3C4;&#xB85D; &#xD55C;&#xB2E4;.
    