section.hwamyeon {
  display: flex;
}

section.hwamyeon div {
  flex: 1;
  border: 1px solid #00dad6;
}

h1 {
  font-size: 50px;
  background-color: #00dad6;
}

h3 {
  margin-top: 8px;
  padding: 3px;
  color: #ffdf6a;
}

p {
  margin-left: 5px;
  padding: 3px;
}
