extend layout

block content    
    link(rel="stylesheet", href="/css/section.css")
    div
        strong
          p.name &#xAC70;&#xBD81;&#xC774;
        img(src='')
        ul.menu
          li
            a(href='#p1') &#xC2B5;&#xC131;
          li
            a(href='#p2') &#xC0AC;&#xC721;&#xC870;&#xAC74;(&#xC900;&#xBE44;&#xBB3C;)
          li
            a(href='#p3')  &#xC218;&#xBA85;
          li
            a(href='#p4') &#xC74C;&#xC2DD;
          li
            a(href='#p5') &#xC8FC;&#xC758;&#xC0AC;&#xD56D;
        span
          article.box1
            p#p1
            header.header
              strong &#xC2B5;&#xC131;
            p - &#xC77C;&#xBD80; &#xC885;&#xC744; &#xC81C;&#xC678;&#xD558;&#xACE0; &#xB300;&#xBD80;&#xBD84;&#xC774; &#xD3C9;&#xC628;&#xD558;&#xACE0; &#xCC28;&#xBD84;&#xD55C; &#xC131;&#xACA9;&#xC744; &#xAC00;&#xC9C0;&#xACE0; &#xC788;&#xB2E4;.
            p - &#xC721;&#xC9C0; &#xAC70;&#xBD81;, &#xC2B5;&#xC9C0; &#xAC70;&#xBD81;, &#xBC18;&#xC218;&#xC0DD; &#xAC70;&#xBD81;, &#xC644;&#xC804; &#xC218;&#xC0DD; &#xAC70;&#xBD81;&#xC73C;&#xB85C; &#xBD84;&#xB958;&#xB41C;&#xB2E4;. &#xC644;&#xC804; &#xC218;&#xC0DD;&#xC740; &#xC77C;&#xBC18; &#xAC00;&#xC815;&#xC9D1;&#xC5D0;&#xC11C; &#xD0A4;&#xC6B0;&#xAE30;&#xB294; &#xC5B4;&#xB835;&#xB2E4;.
            p - &#xC8FC;&#xAE30;&#xC801;&#xC73C;&#xB85C; &#xD0C8;&#xD53C;&#xB97C; &#xD55C;&#xB2E4;.
          article.box2
            p#p2
            header.header
              strong &#xC0AC;&#xC721;&#xC870;&#xAC74;(&#xC900;&#xBE44;&#xBB3C;)
            p - &#xC721;&#xC9C0; &#xAC70;&#xBD81;, &#xC2B5;&#xC9C0; &#xAC70;&#xBD81;, &#xBC18;&#xC218;&#xC0DD; &#xAC70;&#xBD81;, &#xC644;&#xC804; &#xC218;&#xC0DD; &#xAC70;&#xBD81;&#xC774; &#xD544;&#xC694;&#xD55C; &#xC0AC;&#xC721;&#xC7A5; &#xD658;&#xACBD;&#xC774; &#xB2E4; &#xB2E4;&#xB974;&#xB2E4;.
            p &#xC608;&#xC678;&#xB294; &#xC788;&#xC5B4;&#xC11C; &#xC2B5;&#xC9C0; &#xAC70;&#xBD81;&#xC744; &#xBC18;&#xC218;&#xC0DD; &#xAC70;&#xBD81;&#xC73C;&#xB85C; &#xAE30;&#xB974;&#xAE30;&#xB3C4; &#xD55C;&#xB2E4;.
            p
            p - &#xC721;&#xC9C0; &#xAC70;&#xBD81; : &#xC0AC;&#xC721;&#xC7A5;, &#xD788;&#xD305; &#xC7A5;&#xCE58;, &#xC790;&#xB3D9; &#xC628;&#xB3C4; &#xC870;&#xC808;&#xAE30;, &#xBC25;&#xADF8;&#xB987;, &#xBB3C;&#xADF8;&#xB987;, &#xC740;&#xC2E0;&#xCC98;, UVB, &#xBC14;&#xB2E5;&#xC7AC;
            p - &#xC2B5;&#xC9C0; &#xAC70;&#xBD81; : &#xC0AC;&#xC721;&#xC7A5;, &#xBB3C;, &#xC721;&#xC9C0; &#xACF5;&#xAC04;, &#xC5EC;&#xACFC;&#xAE30;, &#xC870;&#xBA85;, &#xD788;&#xD305; &#xC7A5;&#xCE58;
            p - &#xBC18;&#xC218;&#xC0DD; &#xAC70;&#xBD81; : &#xC0AC;&#xC721;&#xC7A5;, &#xBB3C;, &#xC721;&#xC9C0; &#xACF5;&#xAC04;, &#xC5EC;&#xACFC;&#xAE30;, &#xC870;&#xBA85;, &#xD788;&#xD305; &#xC7A5;&#xCE58;
          article.box3
            p#p3
            header.header
              strong &#xC218;&#xBA85;
            p - &#xC560;&#xC644;&#xAC70;&#xBD81;&#xC73C;&#xB85C; &#xC0AC;&#xC721;&#xB418;&#xB294; &#xC18C;&#xD615;&#xC885;&#xB4E4;&#xC740; &#xD3C9;&#xADE0; 15~ 20&#xB144;&#xC744; &#xC0B0;&#xB2E4;.
          article.box4
            p#p4
            header.header
              strong &#xC74C;&#xC2DD;
            p - &#xAC70;&#xBD81;&#xC774; &#xC804;&#xC6A9; &#xC0AC;&#xB8CC;, &#xC721;&#xC2DD;, &#xCC44;&#xC18C; &#xB4F1;.
            p - &#xC721;&#xC9C0; &#xAC70;&#xBD81;&#xC740; &#xC7A1;&#xC2DD;&#xC744; &#xD558;&#xB294; &#xC885;&#xB3C4; &#xC788;&#xC9C0;&#xB9CC; &#xC77C;&#xBC18;&#xC801;&#xC73C;&#xB85C; &#xCC44;&#xC2DD;&#xC744; &#xD558;&#xB294; &#xC885;&#xC774; &#xB300;&#xBD80;&#xBD84;&#xC774;&#xB2E4;.
            p - &#xC790;&#xC138;&#xD55C; &#xC0AC;&#xD56D;&#xC740; &#xBCF8;&#xC778;&#xC774; &#xD0A4;&#xC6B0;&#xB294; &#xC885;&#xC5D0; &#xB530;&#xB77C; &#xCC3E;&#xC544;&#xBCF4;&#xB294; &#xAC83;&#xC774; &#xC88B;&#xC74C;.
          article.box5
            p#p5
            header.header
              strong &#xC8FC;&#xC758; &#xC0AC;&#xD56D;
            |             - &#xAC70;&#xBD81;&#xC774;&#xB294; &#xC885;&#xC5D0; &#xB530;&#xB77C; &#xC2DD;&#xC131;&#xC774; &#xB2E4;&#xB974;&#xC9C0;&#xB9CC; &#xBCF4;&#xD3B8;&#xC801;&#xC73C;&#xB85C; &#xD53C;&#xD574;&#xC57C; &#xD558;&#xB294; &#xC74C;&#xC2DD;&#xC73C;&#xB85C;&#xB294; &#xC720;&#xC81C;&#xD488;, &#xC77C;&#xBD80; &#xC57C;&#xCC44;(&#xC625;&#xC0B4;&#xC0B0;&#xC5FC;&#xC774; &#xB4E4;&#xC5B4;&#xAC00;&#xC788;&#xB294; &#xC2DD;&#xBB3C;), &#xC544;&#xBCF4;&#xCE74;&#xB3C4;, &#xC124;&#xD0D5;,
            |             &#xB2F9;&#xB3C4;.&#xC0B0;&#xC131;&#xB3C4;&#xAC00; &#xB192;&#xC740; &#xC77C;&#xBD80; &#xACFC;&#xC77C;, &#xAC1C; &#xD639;&#xC740; &#xACE0;&#xC591;&#xC774; &#xC0AC;&#xB8CC;, &#xAE30;&#xD0C0; &#xAC00;&#xACF5;&#xC2DD;&#xD488; &#xB4F1;&#xC774; &#xC788;&#xB2E4;.
            p
            p - &#xD569;&#xC0AC;&#xAC00; &#xAC00;&#xB2A5;&#xD558;&#xB2E4;.
            p - &#xD0C8;&#xD53C; &#xC911;&#xC5D4; &#xCD5C;&#xB300;&#xD55C; &#xC811;&#xCD09;&#xC744; &#xD53C;&#xD558;&#xBA70; &#xD0C8;&#xD53C;&#xB97C; &#xD558;&#xACE0; &#xB09C; &#xD6C4;&#xC758; &#xAC70;&#xBD81;&#xC774; &#xB4F1;&#xB531;&#xC9C0;&#xB294; &#xB9D0;&#xB791;&#xB9D0;&#xB791;&#xD558;&#xB2C8; &#xC8FC;&#xC758;&#xAC00; &#xD544;&#xC694;&#xD558;&#xB2E4;.
    