extend layout

block content    
    link(rel="stylesheet", href="/css/section.css")
    div
      strong
        p.name &#xB3C4;&#xB9C8;&#xBC40;
      img(src='')
      ul.menu
        li
          a(href='#p1') &#xC2B5;&#xC131;
        li
          a(href='#p2') &#xC0AC;&#xC721;&#xC870;&#xAC74;(&#xC900;&#xBE44;&#xBB3C;)
        li
          a(href='#p3')  &#xC218;&#xBA85;
        li
          a(href='#p4') &#xC74C;&#xC2DD;
        li
          a(href='#p5') &#xC8FC;&#xC758;&#xC0AC;&#xD56D;
      span
        article.box1
          p#p1
          header.header
            strong &#xC2B5;&#xC131;
          p - &#xB3C4;&#xB9C8;&#xBC40;&#xB4E4;&#xC740; &#xB300;&#xBD80;&#xBD84; &#xB0AE;&#xC5D0; &#xD65C;&#xB3D9;&#xD558;&#xACE0; &#xBC24;&#xC5D0; &#xC7A0;&#xC744; &#xC790;&#xB294; &#xC8FC;&#xD589;&#xC131;&#xC774;&#xB2E4;.
          p - &#xB208;&#xAEBC;&#xD480;&#xC774; &#xC788;&#xB294; &#xC885;&#xB958; &#xC640; &#xC5C6;&#xB294; &#xC885;&#xB958; &#xBAA8;&#xB450; &#xB208;&#xC774;&#xB098; &#xC785; &#xC8FC;&#xBCC0;&#xC744; &#xD565;&#xC544; &#xCCAD;&#xC18C;&#xD558;&#xB294; &#xC2B5;&#xC131;&#xC774; &#xC788;&#xC74C;.
          p - &#xC8FC;&#xAE30;&#xC801;&#xC73C;&#xB85C; &#xD0C8;&#xD53C;&#xB97C; &#xD55C;&#xB2E4;.
        article.box2
          p#p2
          header.header
            strong &#xC0AC;&#xC721;&#xC870;&#xAC74;(&#xC900;&#xBE44;&#xBB3C;)
          p - &#xC0AC;&#xC721;&#xC7A5;, &#xBC14;&#xB2E5;&#xC7AC;, &#xC740;&#xC2E0;&#xCC98;, &#xBC25;&#xADF8;&#xB987;, &#xBB3C;&#xADF8;&#xB987;, &#xC5F4;&#xC6D0;, &#xD540;&#xC14B;, &#xC601;&#xC591;&#xC81C;, &#xC628;&#xC2B5;&#xB3C4;&#xACC4;
          p - &#xC628;&#xB3C4;&#xB294; 30&#xB3C4;, &#xC2B5;&#xB3C4;&#xB294; 40~ 50&#xC73C;&#xB85C; &#xB9DE;&#xCDB0;&#xC8FC;&#xBA74; &#xC801;&#xB2F9;&#xD558;&#xB2E4;.
        article.box3
          p#p3
          header.header
            strong &#xC218;&#xBA85;
          p - &#xD3C9;&#xADE0;&#xC801;&#xC73C;&#xB85C; 7~ 10&#xB144;&#xC744; &#xC0B0;&#xB2E4;.
        article.box4
          p#p4
          header.header
            strong &#xC74C;&#xC2DD;
          p - &#xB3C4;&#xB9C8;&#xBC40; &#xC0AC;&#xB8CC;, &#xC0B4;&#xC544;&#xC788;&#xB294; &#xADC0;&#xB69C;&#xB77C;&#xBBF8;&#xB098; &#xBC00;&#xC6DC;&#xC774; &#xC8FC;&#xC2DD;. &#xB3C4;&#xB9C8;&#xBC40;&#xC740; &#xC7A1;&#xC2DD;&#xC131;&#xC774; &#xB9CE;&#xAE30; &#xB54C;&#xBB38;&#xC5D0; &#xACFC;&#xC77C;&#xC774;&#xB098; &#xCC44;&#xC18C;, &#xB54C;&#xB85C; &#xC721;&#xB958;&#xB97C; &#xC8FC;&#xAE30;&#xB3C4; &#xD55C;&#xB2E4;.
        article.box5
          p#p5
          header.header
            strong &#xC8FC;&#xC758; &#xC0AC;&#xD56D;
          p - &#xAC1C;&#xB098; &#xACE0;&#xC591;&#xC774; &#xC74C;&#xC2DD;, &#xB3C5;&#xC131;&#xC774; &#xC788;&#xB294; &#xC2DD;&#xC774;&#xB294; &#xBA39;&#xC774;&#xBA74; &#xC548;&#xB41C;&#xB2E4;. &#xBC18;&#xB527;&#xBD88; &#xAC19;&#xC740; &#xACBD;&#xC6B0;&#xB3C4; &#xB3C5;&#xC131;&#xC774; &#xC788;&#xC73C;&#xB2C8; &#xC8FC;&#xC758;. &#xACFC;&#xC77C; &#xAC19;&#xC740; &#xACBD;&#xC6B0;&#xB294; &#xAC00;&#xB054;&#xC529;&#xC774;&#xBA74; &#xAD1C;&#xCC2E;&#xB2E4;.
          p - &#xC704;&#xD611;&#xC744; &#xB290;&#xB07C;&#xBA74; &#xAF2C;&#xB9AC;&#xB97C; &#xC790;&#xB978;&#xB2E4;. &#xC798;&#xB9B0; &#xAF2C;&#xB9AC;&#xB294; &#xB2E4;&#xC2DC; &#xC790;&#xB77C;&#xB0A8;. - &#xB208;&#xBCD1;&#xC5D0; &#xAC78;&#xB9AC;&#xAE30; &#xC27D;&#xB2E4;.
    