extends layout

block content
  link(rel="stylesheet", href="/css/free.css")
  table
    thead 
      tr
        th
          strong  No. 
        th
          strong  INSB
        th
          strong  도서명
        th
          strong  저자
        th
          strong  출판사 
        th
          strong  가격
        th
          strong  할인가
    tbody
      each book,index in books 
        tr  
          td #{index+1}
          td= book.author 
          td= book.title
      div.btn
        a(href="#") 도서등록