extends ../../layout

block content
    link(rel="stylesheet", href='/css/youtube.css')
    p.res
        strong 추천영상
    article.movie
        div.youtube1
            article.movie1
                iframe(width='560', height='315', src='https://www.youtube.com/embed/e7TJ2xxpkrE?si=easSzWU2bb-o98GN', title='YouTube video player', frameborder='0', allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share', allowfullscreen='')
            article.movie1-2
                iframe(width='560', height='315', src='https://www.youtube.com/embed/slfXpy4OLf4?si=oIdwtujghRH1JUzI', title='YouTube video player', frameborder='0', allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share', allowfullscreen='')
        div.youtube2
            article.movie2
                iframe(width='560', height='315', src='https://www.youtube.com/embed/yYKrcrUoFnY?si=gtgCUp2PdYTgeL8R', title='YouTube video player', frameborder='0', allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share', allowfullscreen='')
            article.movie2-2
                iframe(width='560', height='315', src='https://www.youtube.com/embed/u2_Jv3C_Y5w?si=Ow3gFfYnA0ztZXQ2', title='YouTube video player', frameborder='0', allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share', allowfullscreen='')
