extends ../../layout

block content
    link(rel='stylesheet', href='/css/anisub.css')
    link(rel='stylesheet', href='/css/section.css')
    div
        strong
            p.name 기니피그

        img(src="/images/기니피그.png", alt="기니피그")
        ul.menu
            li
                a(href="#p1") 사육조건
            li
                a(href="#p2") 음식
            li
                a(href="#p3") 습성
            li
                a(href="#p4") 주의사항
        span
            article.box1
                p#p1 
                header.header
                    strong 사육조건 
                | 케이지를 자주 청소하여 항상 깨끗이 한다.
                br
                | 기니피그의 건강에 유익한 온도는 18도에서 23도까지이다.
                br 
                |  습기와 지나친 더위에 약하므로 주의하여야 한다.
                br
            article.box2
                p#p2
                header.header
                    strong 음식
                | 주식은 건초인데, 알팔파 건초와 티모시 건초로 나뉜다.
                br
                | 알팔파 건초는 보통 6개월전까지 먹이고 티모시 건초는 6개월 이후에 먹인다.
                br 
                | 알팔파나 티모시를 먹일 땐 최대 무한증정을 해주어야 하고 기니피그의 사료인 펠렛은 건초든 사료든 옥스보우가 제일 낫다. 크래쉬따는 절대 안된다.
                br 
                | 기니피그는 체내에서 비타민 C를 합성하지 못하므로 비타민 C가 많이 함유된 먹이를 주어야 한다.
                br 
                | 물은 충분히 주어야 하나 채소 등 물기가 많은 먹이를 너무 많이 주면 설사를 하므로 주의하여야 한다.
                br 
            article.box3
                p#p3 
                header.header
                    strong 습성
                | 굉장히 온순하며 겁이 많은 편이다.
                br
                | 거의 모든 설치류의 특성상 기니피그도 어둡고 음침한 구석을 좋아하기 때문에 어디서 키우든 반드시 숨을 은신처를 마련해 줘야 한다.
                br 
                | 기니피그는 여러 마리를 길러야 한다.
                br 
                | 원래 단체 생활을 하는 동물이기 때문에 한 마리만 키우면 외로움을 탄다.
                br 
                | 위의 엉덩이 만지기와 마찬가지로 감성적인 외로움 때문이라기보다는 피식자(Prey)이다 보니 생존을 위해 무리를 이루려는 본능 때문이다.
                br 
                | 혼자 있으면 극심한 불안감을 느끼게 된다.
                br 
            article.box4
                p#p4
                header.header 
                    strong 주의사항 
                | 식성은 채식이므로 곡물류는 주면 안 된다.
                br
                |  '꾹 꾹' 하는 소리와 함께 몸을 움찔거리며 뭔가를 뱉어내려는 행동을 하는데 입에서 나오는 것은 없다.
                br 
                | 이것은 정상적인 증상이며 이상할 정도로 너무 많이, 자주 하는 것이 아니면 큰 걱정을 할 필요는 없다.
                br
                
                