extends ../../layout

block content
    link(rel='stylesheet', href='/css/anisub.css')
    link(rel='stylesheet', href='/css/section.css')
    div
        strong
            p.name 카나리아

        img(src="/images/animal/카나리아.jpg", alt="")
        ul.menu
            li
                a(href="#p1") 사육조건
            li
                a(href="#p2") 음식
            li
                a(href="#p3") 습성
            li
                a(href="#p4") 주의사항
        span
            article.box1
                p#p1 
                header.header
                    strong 사육조건 
                | 적절한 온도관리, 위생적인 환경유지, 일광욕과 수욕, 균형잡힌 영양공급
                br
                | 
                br 
            article.box2
                p#p2
                header.header
                    strong 음식
                | 카나리아용 새모이(혼합사료) 씨앗과 열매
                br
                | 
                br 
            article.box3
                p#p3 
                header.header
                    strong 습성
                | 카나리아는 기본적으로 자립심이 있고, 경계심도 강하고 겁이 많은 성격
                br
                | 
                br 
            article.box4
                p#p4
                header.header 
                    strong 주의사항 
                | 카나리아는 케이지를 나눠서 단독사육을 하는 것이 기본
                br
                | 
                br 