extends ../../layout

block content
    link(rel='stylesheet', href='/css/anisub.css')
    link(rel='stylesheet', href='/css/section.css')
    div
        strong
            p.name 네온테트라

        img(src="/images/neon.jpg", alt="네온테트라")
        ul.menu
            li
                a(href="#p1") 사육조건
            li
                a(href="#p2") 음식
            li
                a(href="#p3") 습성
            li
                a(href="#p4") 주의사항
        span
            article.box1
                p#p1 
                header.header
                    strong 사육조건 
                | 여과기와 어항히터가 있는 환경에서 무난하게 키우기 좋은 열대어 종류입니다.
                br
                | 네온 테트라 키우기 수온은 약 25~28도를 맞추는 것을 권장합니다.
                br 
                | 25도 미만에서는 면역력 저하 등으로 백점병에 취약할 수 있으므로 늘 적당한 온도에 맞춰서 일정하게 유지하는 것이 중요합니다.
                br
                | 일반적으로 가로 30cm 이상 어항부터 키우기 좋습니다.
            article.box2
                p#p2
                header.header
                    strong 음식
                | 일반적인 테트라 물고기용 열대어 사료를 급여하면 되는데요.
                br
                | 대부분의 열대어 사료를 잘 먹는 편이지만 입이 작은 물고기라 알갱이 크기는 작은 것이 좋습니다.
                br 
                | 네온테트라는 대부분의 인공 열대어사료에 쉽게 적응하는 물고기로 먹이 급여가 어렵지 않습니다.
            article.box3
                p#p3 
                header.header
                    strong 습성
                | 네온테트라는 수초에 알을 낳는 습성을 가지고 있습니다.
                br
                | 알을 낳고 바로 알을 먹어버리는 습성을 가지고 있어서 알이 무사히 부화하기 위해서 물고기를 옮겨주는 것이 중요합니다.
                br 
            article.box4
                p#p4
                header.header 
                    strong 주의사항 
                | 엔젤피쉬 및 중형이상의 육식어들은 네온테트라를 먹으므로 합사하면 안됩니다.
                br
                | 비슷한 크기의 공격적이지 않은 열대어와 합사를 해야합니다.(가재,거북이등과의 합사도 안된다.)
                br 
                | 네온테트라는 물생활 초보자에게는 어려운 편에 속한다.(번식방법이 까다로워 성공하기가 어렵다)