extends ../../layout

block content
    link(rel='stylesheet', href='/css/myanimal.css')
    script(src="/js/mypet_imgadd.js")
    h1.addanimal 나의 반려동물 정보
    form(method="POST",enctype="multipart/form-data") 
        div.myanimalinput 
            input(type="text", name="ma_animalname", placeholder="반려동물 이름은?", value= myanimal && myanimal.ma_animalname ? myanimal.ma_animalname : "")
            input(type="text", name="ma_age", placeholder="나이는?", value= myanimal && myanimal.ma_age ? myanimal.ma_age : "")
            input.int(type="text", name="ma_memo", placeholder="반려동물 소개글", value= myanimal && myanimal.ma_memo ? myanimal.ma_memo : "")
            div.img_box
                if myanimal && myanimal.ma_image_name
                    input.hidden(type="file",name="ma_image",accept="image/*",id="ma_image")
                    img.img_add(src=`/uploads/${myanimal.ma_image_name}`,width="100px",height="100px")
                else
                    input.hidden(type="file",name="ma_image",accept="image/*",id="ma_image")
                    img.img_add(src="/images/add_img.png" ,width="100px",height="100px",alt="사진추가이미지")
            input.save(type="submit", value="저장")