extends ../../layout

block content
    link(rel='stylesheet', href='/css/recom.css')
    h2.recom 반려동물 어플 추천
    article.group1.group
        img(src="/images/appicon/edu.png")
        |  교육
    article.app1.app
        img(src="/images/appicon/dogmaster.png")
        p 도그마스터 : 반려견 양육부터 문제 행동 해결까지
    article.group2.group
        img(src="/images/appicon/care.png")
        |  케어
    article.app2.app
        img(src="/images/appicon/petdoc.png")
        p 펫닥(Petdoc) : 반려동물 생애주기 맞춤형 케어
    article.group3.group
        img(src="/images/appicon/play.png")
        |  놀이
    article.app3.app
        img(src="/images/appicon/petp.png")
        p 펫피 : 강아지 산책 대표앱
    article.group4.group
        img(src="/images/appicon/day.png")
        |  생활
    article.app4.app
        img(src="/images/appicon/petchu.png")
        p 펫츄 : 반려동물 건강을 위한 서비스
    br